@import '../../index.css';

.list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.list-item {
    display: flex;
    flex-direction: column;
    height: 6rem;
    border-top: 1px solid var(--text-color);

}

.list-first-line,
.list-second-line {
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.list-second-line {
    justify-content: space-between;
}

.degree,
.alma-mater,
.date,
.specialization {
    font-size: 1.8rem;
}

.specialization {
    text-transform: uppercase;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100px * 14 - (2rem * 14)));
    }
}

.slider {
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;


    .slide-track {
        animation: scroll 30s linear infinite;
        display: flex;
        width: calc(100px * 28 + (2rem * 28));
    }

    .slide {
        min-width: 100px;
        margin-right: 2rem;
    }
}


@media (max-width: 768px) {
    .degree,
    .alma-mater,
    .date,
    .specialization {
        font-size: 1.6rem;
    }
}

@media (max-width: 350px) {
    .degree,
    .alma-mater,
    .date,
    .specialization {
        font-size: 1.2rem;
    }
}