@import '../../index.css';

header {
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.link-wrap {
    position: relative;
    width: min-content;
    white-space: nowrap;
}

.link-wrap a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.2rem;
}

.link-wrap a::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 1px;
    background-color: var(--text-color);
    transition: width 0.3s ease-in-out;
}

.link-wrap a:hover::before {
    width: 100%;
    left: 0;
    right: unset;
}