@import '../../index.css';

.list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.list-item {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    height: 3rem;
    perspective: 800px;
    border-top: 1px solid var(--text-color);
}

.list-first-line,
.list-second-line {
    transition: transform 0.3s ease;
    position: absolute;
    height: 100%;
    backface-visibility: hidden;
}

.list-first-line {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;

    transform-origin: top;
    transform: rotateX(0deg);
    transform: translateY(0);
}

.left {
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.list-second-line {
    transform-origin: bottom;
    transform: rotateX(-90deg);
    transform: translateY(3.5rem);
}

.list-item:hover .list-first-line {
    transform: rotateX(90deg);
    transform: translateY(-3.5rem);
}

.list-item:hover .list-second-line {
    transform: rotateX(0deg);
}

.exp-date,
.position,
.company {
    font-size: 1.8rem;
}

.list-second-line {
    align-self: flex-end;
    justify-self: flex-end;
    position: relative;
    width: min-content;
    white-space: nowrap;
}

.company {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-color);
}

.company::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 1px;
    background-color: var(--text-color);
    transition: width 0.3s ease-in-out;
}

.company:hover::before {
    width: 100%;
    left: 0;
    right: unset;
}