@import '../../index.css';

.exp-container {
    min-height: calc(100vh - 50px);

    margin: 0 2rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.exp-header {
    margin-top: 8rem;
}

.list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.list-item {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    height: 3rem;
    perspective: 800px;
    border-top: 1px solid var(--text-color);
}

.list-first-line,
.list-second-line {
    transition: transform 0.3s ease;
    position: absolute;
    height: 100%;
    backface-visibility: hidden;
    width: 100%;
}

.list-first-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;
    transform-origin: top;
    transform: rotateX(0deg);
    transform: translateY(0);
}

.left {
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.list-second-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transform-origin: bottom;
    transform: rotateX(-90deg);
    transform: translateY(3.5rem);
}

.list-item:hover .list-first-line {
    transform: rotateX(90deg);
    transform: translateY(-3.5rem);
}

.list-item:hover .list-second-line {
    transform: rotateX(0deg);
}

.exp-date,
.position,
.company {
    white-space: nowrap;
    font-size: 1.8rem;
}

.company-box {
    position: relative;
    width: min-content;
    white-space: nowrap;
}

.company {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-color);
}

.company::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 1px;
    background-color: var(--text-color);
    transition: width 0.3s ease-in-out;
}

.company:hover::before {
    width: 100%;
    left: 0;
    right: unset;
}

.small-svg {
    max-width: 24px;
    height: 48px;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .list-item {
        height: auto;
    }

    .list-first-line,
    .list-second-line {
        gap: 0;
        position: unset;
        transition: none;
        backface-visibility: visible;
        transform: none;

    }

    .list-first-line {
        flex-direction: column;
    }

    .list-item:hover .list-first-line,
    .list-item:hover .list-first-line {
        transform: none;
    }
}

@media (max-width: 768px) {
    .exp-date,
    .position,
    .company {
        font-size: 1.6rem;
    }
}

@media (max-width: 639px) {
    .left {
        flex-direction: column;
        gap: 0;
    }
}

@media (max-width: 350px) {
    .exp-date,
    .position,
    .company {
        font-size: 1.2rem;
    }
}